body {
    background-color: #0c0c0c !important;
}
.css-ssvl7u[data-checked] {
    
    background: black !important;
    border: 1px solid rgba(255, 255, 255, 0.316) !important;
}
.css-ssvl7u {
    background-color: white !important;
}
.css-7roig {
    background: black !important;
    
}
.css-7roig[data-checked] {
    background: white !important;
}